@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
}

.checkbox {
    position: relative;

    appearance: none;

    width: 18px;
    height: 18px;

    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 3px;

    cursor: pointer;

    &:after {
        content: "";

        position: absolute;

        top: 1px;
        bottom: 1px;
        left: 1px;
        right: 1px;

        border-radius: 2px;

        opacity: 0;

        background-color: #43a047;

        transition: opacity .25s ease;
    }

    &:checked {
        border-color: #43a047;

        &:after {
            opacity: 1;
        }
    }
}

.btn {
    color: white;

    background: linear-gradient(45deg, rgb(33, 150, 243) 30%, rgb(33, 203, 243) 90%);

    border: 0;
    border-radius: 3px;

    padding: 10px 30px;

    min-width: 110px;

    font-size: 16px;

    outline: none;

    box-shadow: 0 3px 5px 2px rgba(33, 203, 243, 0.3);
    transform: translateY(0) scale(1);

    transition: box-shadow .15s ease, transform .15s ease;

    cursor: pointer;

    &:hover {
        transform: translateY(-1px) scale(1.01);
    }

    &:active {
        box-shadow: 0 1px 2px 1px rgba(33, 203, 243, 0.3);

        transform: translateY(1px) scale(.99);
    }

    &.is-loading {
        pointer-events: none;
        cursor: auto;

        transform: translateY(1px) scale(.99);
    }
}

.form {
    background-color: #f5f5f5;

    margin: 1em;

    border-radius: 8px;

    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.075);

    padding: 2em;

    .form-group-wrap {
        border-left: 1px solid rgba(0, 0, 0, 0.23);

        padding-left: 1em;

        .form-group-description {
            color: rgba(0, 0, 0, 0.5);

            font-size: 14px;

            label {
                cursor: pointer;

                text-decoration: underline;

                &:hover {
                    text-decoration: none;

                    color: rgba(0, 0, 0, 0.8);
                }
            }
        }
    }

    .form-group {
        &:not(.form-group-inline) {
            border: 1px solid rgba(0, 0, 0, 0.23);
        }

        border-radius: 4px;

        position: relative;

        margin-bottom: 1.5em;

        transition: border-color .15s ease;

        &:hover {
            border-color: rgba(0, 0, 0, 0.5);
        }

        &.form-group-inline {
            .form-label {
                position: relative;
                transform: none !important;

                display: inline-block;

                vertical-align: middle;

                color: rgba(0, 0, 0, 0.8);
            }

            .form-control {
                display: inline-block;

                vertical-align: middle;
            }
        }

        .form-label {
            position: absolute;
            z-index: 0;

            background-color: #f5f5f5;
            color: rgba(0, 0, 0, 0.5);

            padding: 0 3px;

            height: 20px;

            font-size: 16px;

            transform: translate3d(14px, 17px, 0) scale(1);

            transition: transform .15s ease;
        }

        .form-control {
            position: relative;
            z-index: 1;

            outline: none;

            &:not(.checkbox) {
                background: transparent;

                border: none;

                width: 100%;

                padding: 18px 14px;

                font-size: 16px;
            }
        }

        .form-error {
            display: block;

            color: #f44336;

            font-size: 12px;

            margin-left: 17px;
            margin-top: -7px;
            margin-bottom: 7px;

            text-transform: uppercase;
        }

        &.is-focus {
            border-color: #2196f3;
            border-width: 2px;

            margin-top: -2px;
            margin-left: -2px;
            transform: translate3d(1px, 1px, 0);

            .form-label {
                color: rgba(18, 84, 136, 0.855);
                transform: translate3d(7px, -12px, 0) scale(.8);
            }
        }

        &.is-error {
            border-color: #f44336 !important;

            .form-label {
                color: #f44336 !important;
            }
        }

        &.have-value {
            .form-label {
                transform: translate3d(7px, -12px, 0) scale(.8);
            }
        }

    }

    .form-error-container {
        color: #fff;
        background: linear-gradient(45deg, #fd5454 30%, #ff6147 90%);

        padding: 1em;

        border-radius: 4px;

        margin-bottom: 1.5em;
    }
}

.markdown {
    background-color: #fff;

    padding: 1em;

    margin: 1em;

    border-radius: 8px;

    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.075);

    code {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        color: #333;
        background: #f8f8f8;

        font-family: monospace, monospace;
        font-size: 1em;
    }
}